#following-list {
  box-shadow: none;
}

#following-list img {
  width: 60px;
}

#user-detail img {
  width: 150px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.text-right {
  text-align: right;
}

.footer {
  margin-bottom: 10px;
}
